.border-dark-purple {
    border: solid 1px #402468
}

.btn-monster {
    color:            #fff;
    background-color: #7AC142;
    border-color:     #7AC142;
}

.btn-monster:hover,
.btn-monster:focus {
    background-color: #69a336;
    border-color:     #60902e;
}

.purple-haze {
    background-color: #7D7098;
}

.item-background {
    background-color: #ffffff !important;
}

.item-background:hover {
    background-color: #69a336aa !important;
}

.my-wide-modal {
    max-width: 90vh;
}

.text-custom-green {
    color: #7AC142 !important;
}

.user-background {
    background-color: #1f0131;
}

.user-background:hover {
    background-color: #7AC142;
}

@media (min-width: 768px) {
    .w-md-75 { width: 75% !important; }
}

@media (max-width: 425px) {
    .h-sm-100 { height: 100% !important; }
}
  